PYTHONPATH=
MYPYPATH=
DEV_MODE=0
DISCORD_TOKEN=
DISCORD_ID=
LOGLEVEL=DEBUG
WAKE_UP_USER_PASSWORD=
DROPBOX_TOKEN=
DROPBOX_REFRESH_TOKEN=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_USER_ID=