env
venv
.vscode
__pycache__
*test
to_remove
last_board.png
last_screen.png
current_stage.png
FLANN.png
*.pkl
custom_tk
*.ini
build
dist
main.exe
*.rar
.env
*.json
teste.ipynb
*.zip
assets/adb/debug
local_build_script.bat
assets/adb/current_stage.png
assets/adb/new.png
debug/*