keyboard==0.13.5
customtkinter==5.2.1
opencv-python==4.9.0.80
pillow==10.2.0
pyautogui==0.9.54
pynput==1.7.6
mediapipe==0.10.8
CTkToolTip==0.8
CTkMessagebox==2.5
thefuzz==0.22.1
requests==2.31.0
# pip install screen-ocr[winrt]
# viztracer==0.16.2
# pyinstaller==6.3.0